<div class="header">
  <div class="logo">Solcre</div>
  <div class="header-actions">
    <p-button
      label="Home"
      severity="secondary"
      size="small"
      routerLink="/"
      class="home-btn">
    </p-button>

    <div *ngIf="(isAuthenticated$ | async)" class="user-info">
      <span class="user-name">Bienvenido, {{ (admin$ | async)?.name }}</span>
      <p-button
        label="Logout"
        severity="danger"
        size="small"
        (click)="logout()"
        class="logout-btn">
      </p-button>
    </div>
    <div *ngIf="!(isAuthenticated$ | async)">
      <p-button
        label="Login"
        severity="secondary"
        size="small"
        routerLink="/login"
        class="login-btn">
      </p-button>
    </div>
  </div>
</div>